<html>
    <body>
        <div class="content" id="main-content">

        <center>

        <h1> Maintenance </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> km :  <input type="text", name='km', placeholder="enter 2"> <br><br>
            emision_escape :  <input type="text", name='emision_escape', placeholder="enter 3"> <br><br>
            capacidad : <input type="text", name='capacidad', placeholder="enter 4"> <br><br>
            tipo_combustible_diesel :  <input type="text", name='tipo_combustible_diesel', placeholder="enter 5"> <br><br>
            tipo_combustible_gas :  <input type="text", name='tipo_combustible_gas', placeholder="enter 6"> <br><br>
            tipo_combustible_gasolina :  <input type="text", name='tipo_combustible_gasolina', placeholder="enter 7"> <br><br>
            marca_camion_Fiat :  <input type="text", name='marca_camion_Fiat', placeholder="enter 8"> <br><br>
            marca_camion_Mercedes :  <input type="text", name='marca_camion_Mercedes', placeholder="enter 9"> <br><br>
            marca_camion_Renaut :  <input type="text", name='marca_camion_Renaut', placeholder="enter 10"> <br><br>
            marca_camion_Volkswagen :  <input type="text", name='marca_camion_Volkswagen', placeholder="enter 11"> <br><br>
            modelo_amarok :  <input type="text", name='modelo_amarok', placeholder="enter 12"> <br><br>
            modelo_caddy :  <input type="text", name='modelo_caddy', placeholder="enter 13"> <br><br>
            modelo_dacia dokker :  <input type="text", name='modelo_dacia dokker', placeholder="enter 14"> <br><br>
            modelo_ducato :  <input type="text", name='modelo_ducato', placeholder="enter 15"> <br><br>
            modelo_fiorino :  <input type="text", name='modelo_fiorino', placeholder="enter 16"> <br><br>
            modelo_kangoo :  <input type="text", name='modelo_kangoo', placeholder="enter 17"> <br><br>
            modelo_sprinter :  <input type="text", name='modelo_sprinter', placeholder="enter 18"> <br><br>
            modelo_vito :  <input type="text", name='modelo_vito', placeholder="enter 19"> <br><br>
            tipo_transm_automatica :  <input type="text", name='tipo_transm_automatica', placeholder="enter 20"> <br><br>
            tipo_transm_manual :  <input type="text", name='tipo_transm_manual', placeholder="enter 21"> <br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>
    </div>
    </body>
</html>


<style>

    .content {
        background: #2F27D1;
        background: -webkit-radial-gradient(left, #2F27D1, #27DDED);
        background: -moz-radial-gradient(left, #2F27D1, #27DDED);
        background: radial-gradient(to right, #2F27D1, #27DDED);
    }
</style>


